# OpenCage API for geocoding
REACT_APP_OPENCAGE_API_KEY=f6c86e525afe42a8994929a8ec2066de

# Firebase Configuration
REACT_APP_FIREBASE_API_KEY=AIzaSyCRhcD6DjPKUwmgEM42YTwQj-dJusatXlQ
REACT_APP_FIREBASE_AUTH_DOMAIN=phone-silencer-33c2f.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=phone-silencer-33c2f
REACT_APP_FIREBASE_STORAGE_BUCKET=phone-silencer-33c2f.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=238705445203
REACT_APP_FIREBASE_MEASUREMENT_ID=G-9NGTZ446ES
REACT_APP_FIREBASE_VAPID_KEY=BHpeJ7Z-J4hum5X-LYAokvwvz6VvmJlAxmiWWM0tcws27XY7NdUBzDjbaVmZvnrSTzu6OqIMkSqiQjacBkhrUXg

# API Configuration
REACT_APP_API_URL=http://localhost:5000 